<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    
    <add key="TwilioAccountSid" value="AC1234" />
    <add key="TwilioAuthToken" value="1234" />
    <add key="TwilioApplicationSid" value="AP1234" />
    <add key="TwilioApiVersion" value="2010-04-01" />
    <add key="TwilioTwiMLCallbackUrl" value="http://your.callback.url/Twilio/TwiML.aspx" />
    <add key="DemoCallerId" value="+18007773456" />
    <add key="NodeUrl" value="http://your.node.server:1234" />
    <add key="MongoDbUrl" value="mongodb://your.mongo.server:1234" />
    <add key="MongoDbName" value="KissCaller" />
  </appSettings>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\MyCode\KissCaller\\log\\KissCaller.SocketIo.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" /> <!--%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />-->
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
      <layout type="log4net.Layout.XMLLayout" />
    </appender>
    <appender name="HarvesterAppender" type="Harvester.Integration.Log4Net.HarvesterAppender, Harvester.Integration.Log4Net, 
          Version=1.1.188.834, Culture=neutral, PublicKeyToken=2335e074c59acad6" />
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>
  </log4net>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\MyCode\KissCaller\\log\\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.7.0" newVersion="4.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>